**__pycache__**
*.pyc
src/settings.py
.venv/**
STRING/**/*.txt
STRING/**/*.gzip
logs/**
static/string_interactomes/*
interactomes/interactome_standalone/logs/*
interactomes/interactome_standalone/string_interactomes/*
interactomes/interactome_standalone/venv/*
string_interactomes/*
.vscode/**
