<!-- String Style -->
<link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">

<!-- StringEx scripts -->
<script src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}"></script>
<script src="{{ url_for('StringEx.static', filename='js/string_map.js') }}" type="text/javascript">
</script>

<div id="tab_to_add" style="display: none;">
    <form id="string_map_form" method=post enctype=multipart/form-data>
        <div class="twelve columns">
            <div class="eight columns">
                <h2 class="lineglowslow" style="margin-top:30px">STRING
                    <br>
                    <br>
                    &ensp;VRNetzer
                </h2>
            </div>
            <div class="four columns">
                <div class="swagLogo"><br></br></div>
            </div>
        </div>

        <div class="twelve columns">
            <h3><span>MAP STRING NETWORK ON INTERACTOME</span></h3>
            <p>This MAPPER is used to map STRING networks in the VRNetz format exported using the VRNetzer Cytoscape app onto organism interactomes.</p>
        </div>
        <!-- VRNetz file browse -->
        <div class="frameBox">
            <div class="twelve columns">
                <h6>PROJECT NAME</h6>
                <input type="text" id="string_map_project_name" name="string_map_project_name" class="swagBox" placeholder="New Project">
                <p id="submit_warnings" style="display:inline"></p>
            </div>
        </div>
        <!-- VRNetz file browse -->
        <div class="frameBox">
            <div class="twelve columns">
                <h4 class="nine columns">VRNetz</h4>
                <input type=file name=vrnetz multiple value="placeholder">
            </div>
        </div>
        <!-- Organism selection -->
        <div class="frameBox">
                <h4 class="twelve columns">
                    Organism
                </h4>
            <div class="twelve columns">
                <div class="cornerBox">
                    <select name="string_organism" id="string_organism">
                    </select>
                    <br>
                </div>
            </div>
        </div>
        <!-- Map button -->
        <div class="frameBox">
            <div class="twelve columns">
                <div class="two columns">
                    <input class="swagSubmit" id="string_map_button" type="submit" value="Map" />
                </div>
                <div class="nine columns" id="string_map_message"></div>
            </div>
        </div>
    </form>
</div>