<link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
<script src="{{ url_for('StringEx.static', filename='js/cy_socket.js') }}"></script>
<script src="{{ url_for('StringEx.static', filename='js/stringex_cytoscape_send.js') }}"></script>

<style>
      input.loadingButton[type="button"] {
            background-image: url("{{url_for('static', filename='/img/processing.gif')}}");
            background-repeat: no-repeat;
            background-position: center;
            background-clip: content-box;
            background-size: cover;
            overflow: hidden;
      }
</style>
<html>
<link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
<script src="{{ url_for('StringEx.static', filename='js/string_socket.js') }}"></script>


{% include 'ot_template.html' %}

<div id="StringSendCytoscapeTab" class="gradientBox">
      <div class='swagBox' style="background-color: rgba(0, 10, 20, 0.3);">
            <div id="stringex_client_ip" value="{{ request.remote_addr }}"></div>
            <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102);">
                  Cytoscape Ex</h5>
            <div class="gradient" style="margin-top:35px">
            </div>
            <div class="gradientBox" style="padding:5px">
                  <cy-ex-send-element id="cyExtoHost" fn="checkbox" name="Send to host"
                        buttonText="Send"></cy-ex-send-element>
            </div>
      </div>
</div>

</html>