<link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
</link>

<script src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}"></script>

<script>
    var username = "{{session['username']}}";
    var url = window.location.href;
    if (!(url.includes("usr"))) {
        if (url.includes("?")) {
            window.location.href = url + "&usr=" + username;
        } else {
            window.location.href = url + "?usr=" + username;
        };
    };
    console.log(window.location.href);
</script>

<!-- Tab containing STRING evidence buttons -->
<div id="tab_to_add" class="container" style="display:none;">

    <div id="string_ev_tab">
        <div class="twelve columns" style="min-height: fit-content;">
            <h2 class="lineglowslow" style="line-height: 50px;margin-top: 2px;">STRING EX</h2>
            <h5 style="text-align:end"> Evidence filter</h5>
        </div>

        <div id="evidence-section" class="twelve columns">
            <div class="frameBox" style="display:inline-block; margin-top:8px; margin-bottom:8px;padding-top: 0px;">
                <div class="twelve columns">
                    <div class="six columns">
                        <h4> <br>Reset</h4>
                        <div class="frameBox" style="display:inline-block;">

                            <button class="stringEvidenceButton" style="background-color:#c8c8c8;
                                        color:black;" id="evidence-all" type="VRNetzer">
                                All</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-all", "any");
                            </script>
                        </div>
                    </div>
                    <div id="stringex_know_interactions_framebox" class="six columns">
                        <h4> Known<br>Interactions</h4>
                        <div class="frameBox" style="display:inline-block;">
                            <button class="stringEvidenceButton" style="background-color:#ff00ff;"
                                id="evidence-experiments" type="VRNetzer">
                                Experiments</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-experiments", "stringdb_experiments");
                            </script>

                            <button class="stringEvidenceButton" style="background-color:#00ffff;color:black;"
                                id="evidence-database" type="VRNetzer"> Database</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-database", "stringdb_databases");
                            </script>

                        </div>
                    </div>
                    <script>
                        const elem = document.querySelector("#stringex_know_interactions_framebox");

                        if (elem) {

                            const rect = elem.getBoundingClientRect();

                            console.log(`height: ${rect.height}`);

                        }
                    </script>
                </div>
                <div class="twelve columns">
                    <div class="six columns">
                        <h4> Genomic<br>Context</h4>

                        <div class="frameBox" style="display:inline-block;margin-top:8px;  margin-bottom:8px;">
                            <button class="stringEvidenceButton" style="background-color:#0ab10a;
                                        color:white;" id="evidence-neighborhood" type="VRNetzer">
                                Neighborhood</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-neighborhood", "stringdb_neighborhood");
                            </script>

                            <button class="stringEvidenceButton" style="background-color:#ff0000;" id="evidence-fusion"
                                type="VRNetzer">
                                Fusion</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-fusion", "stringdb_fusion");
                            </script>

                            <button class="stringEvidenceButton" style="background-color:#0000ff;"
                                id="evidence-cooccurrence" type="VRNetzer">
                                Cooccurrence</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-cooccurrence", "stringdb_cooccurrence");
                            </script>
                        </div>
                    </div>
                    <div class="six columns">
                        <h4> Other<br>Evidences</h4>

                        <div class="frameBox" style="display:inline-block; margin-top:8px; margin-bottom:8px;">
                            <button class="stringEvidenceButton" style="background-color:#c6ea46;color:black;"
                                id="evidence-textmining" type="VRNetzer">
                                Textmining</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-textmining", "stringdb_textmining");
                            </script>

                            <button class="stringEvidenceButton" style="background-color:#323232;"
                                id="evidence-coexpression" type="VRNetzer">
                                Coexpression</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-coexpression", "stringdb_coexpression");
                            </script>

                            <button class="stringEvidenceButton" style="background-color:#7c7cf0;
                                            color:black;" id="evidence-homology" type="VRNetzer">
                                Similarity</button>
                            <script>
                                selectEvidenceVRNetzer("evidence-homology", "stringdb_similarity");
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve columns">
                <h3> Information</h3>
                <p>
                    This panel is used to switch between the different association evidences that come with a STRING
                    network.
                </p>
            </div>

            <br></br>

        </div>
    </div>
</div>
<img id="tab_img" src="{{ url_for('StringEx.static', filename='img/string_logo_2015_340_340.png') }}"
    style="display: none;">
<!-- Change Image of Tab on which STRING Evidence tab is located-->
<script>
    if (pdata["network"] == "string") {
        console.log("network is a string network", pdata)
        document.getElementById("chbLrgb").checked = false; // turn off link layout change
        document.getElementById("chbLXYZ").checked = false; // turn off link layout change
    } else {
        var div = document.getElementById("string_ev_tab");
        div.parentNode.remove();
    }
</script>