<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN MyUi.js -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>


<style>
    input[type='file'] {
        outline: none;

    }
</style>

<head>
    <!-- VRNetzer backend styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- String Style -->
    <link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
    <!-- external scripts -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- VRNetzer backend scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/UI_Module_Config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('StringEx.static', filename='js/upload_UI.js') }}"></script>



    <!-- StringEx scripts -->
    <script src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}"></script>

    <!-- connect Socket IO -->
    <!-- <script src="{{ url_for('static', filename='js/connect_socketIO.js') }}"></script> -->

</head>

<body>
    <div id="tabsUL"><a href="upload.html" id="" title="upload"></a>
        <!--upload-->
        <ul>
            <li><a href="#fragment-1"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/upload.png') }}" /></a>
            </li>
            <li><a href="#fragment-2"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/upload.png') }}" /></a>
            </li>
        </ul>
        <script>
                $(function() {
                    $("#tabsUL").tabs();
                });
        </script>

        <div id="fragment-1">
            <div class="twelve columns">
                <div class="eight columns">
                    <h2 class="lineglowslow" style="margin-top:30px">STRING
                        <br>
                        <br>
                        &ensp;VRNetzer
                    </h2>
                </div>
                <div class="four columns">
                    <div class="swagLogo"><br></br></div>
                </div>
            </div>
            <div>Check out the new webGL preview!</div>
            <form action="/StringEx/preview">
                <input type="submit" value="webGL PREVIEW" style="height: 50px; width: 250px;" />
            </form>
            <div class="twelve columns">
                <h3><span>UPLOAD NEW DATA</span></h3>
                <p>This uploader is used to Upload VRNetz files exported by the VRNetzer Cytoscape app.</p>
            </div>

            <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Actual Form
            +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

            <form id="upload_form" method=post enctype=multipart/form-data>
                <div class="twelve columns">

                    <div class="six columns">
                        <div class="frameBox">
                            <div class="two columns">
                                <input type="radio" name="namespace" id="radio_new_namespace" value="New">
                            </div>
                            <h6>CREATE NEW PROJECT</h6>
                            <br>

                            <input type="text" id="new_namespace_name" name="new_name" class="swagBox"placeholder="New Project">
                            <p id="submit_warnings" style="display:inline"></p>

                            <!-- The Popup window warning :
            <script>
              function popupWarning() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
              }
            </script>
            <div class="popup" onclick="popupWarning()">
              <input type="text" id="new_namespace_name" name="new_name" class="swagBox">
              <span class="popuptext" id="submit_warnings"></span>
            </div>
            -->

                        </div>
                    </div>

                    <div class="six columns">
                        <div class="frameBox">
                            <div class="two columns">
                                <input type="radio" name="namespace" value="existing" checked><br>
                            </div>
                            <h6> Update PROJECT</h6>

                            <!--<h3 class="lineglowslow"><span>PROJECT</span></h3>-->
                            <br>
                            <div class="cornerBox">
                                <select name="namespaces" id="namespaces">
                                    {% for namespace in namespaces %}
                                    print(namespace);
                                    <option value="{{namespace}}">{{namespace}}</option>
                                    {% endfor %}
                                </select>
                                <br>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- original position before radio buttons <form id="upload_form" method=post enctype=multipart/form-data> -->
                <div class="frameBox">
                    <div class="twelve columns">
                        <h4 class="nine columns">VRNetz</h4>
                        <input type=file name=vrnetz multiple value="placeholder">
                    </div>
                </div>

                <!--
            <label>N O D E S</label><br>
            <input type=file name=nodes multiple><br><br>
            -->
                <div class="twelve columns">
                    <div class="six columns">
                        <div class="frameBox">
                            <div class="six columns">
                                <div class="two columns">
                                    <input type="checkbox" id="calc_lay" name="calc_lay" value="calc_lay" checked>
                                </div>
                                <h4> LAYOUT<br>&ensp;ALGORITHM</h4>
                                <br>
                                <div class="cornerBox">
                                    <select name="algo" id="algo">
                                        {% for algo in algorithms %}
                                        <option value="{{algo}}">{{algo}}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="six columns">
                        <div class="frameBox">
                            <div class="two columns">
                                <input type="checkbox" name="stringify" value="stringify" checked>
                            </div>
                            <label for="stringify">
                                <h6>STRING NETWORK</h6>
                            </label><br>
                            <div class="two columns">
                                <input type="checkbox" name="write" value="write" unchecked>
                            </div>
                            <label for="write">
                                <h6>SAVE NETWORK WITH COORDS</h6>
                            </label><br>
                        </div>
                    </div>
                </div>

                <!--
            <label>A T T R I B U T E S (optional) </label><br>
            <input type=file name=attributes multiple><br><br>
          
            <label>L A B E L S (optional) </label><br>
            <input type=file name=labels multiple><br><br>
            -->

                <div class="frameBox">
                    <div class="twelve columns">
                        <div class="two columns">
                            <input type=submit value=Upload id=upload_button class="swagSubmit"></button>
                        </div>
                        <div class="nine columns" id="upload_message"></div>
                        <br>


                    </div>
                </div>
            </form>
        </div>

        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Tab 2 Map STRING networks on Interactomes
        +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <div id="fragment-2">
            <div class="twelve columns">
                <div class="eight columns">
                    <h2 class="lineglowslow" style="margin-top:30px">STRING
                        <br>
                        <br>
                        &ensp;VRNetzer
                    </h2>
                </div>
                <div class="four columns">
                    <div class="swagLogo"><br></br></div>
                </div>
            </div>

            <div class="twelve columns">
                <h3><span>MAP STRING NETWORK ON INTERACTOME</span></h3>
                <p>This MAPPER is used to map STRING networks in the VRNetz format exported using the VRNetzer Cytoscape app onto organism interactomes.</p>
            </div>
            <form id="map_form" method=post enctype=multipart/form-data>
                <!-- VRNetz file browse -->
                <div class="frameBox">
                    <div class="twelve columns">
                        <h6>PROJECT NAME</h6>
                        <input type="text" id="project_name" name="project_name" class="swagBox" placeholder="New Project">
                        <p id="submit_warnings" style="display:inline"></p>
                    </div>
                </div>
                <!-- VRNetz file browse -->
                <div class="frameBox">
                    <div class="twelve columns">
                        <h4 class="nine columns">VRNetz</h4>
                        <input type=file name=vrnetz multiple value="placeholder">
                    </div>
                </div>
                <!-- Organism selection -->
                <div class="frameBox">
                        <h4 class="twelve columns">
                            Organism
                        </h4>
                    <div class="twelve columns">
                        <div class="cornerBox">
                            <select name="organism" id="organism">
                                {% for org in organisms %}
                                <option value="{{org}}">{{org}}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- Map button -->
                <div class="frameBox">
                    <div class="twelve columns">
                        <div class="two columns">
                            <input type=submit value=Map id=map_button class="swagSubmit"></button>
                        </div>
                        <div class="nine columns" id="map_message"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>


    </div>


</body>