<!-- String Style -->
<link href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}" rel="stylesheet" />
<!-- StringEx scripts -->
<script src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}">
</script>
<script src="{{ url_for('StringEx.static', filename='js/string_upload.js') }}" type="text/javascript">
</script>
<div id="tab_to_add" style="display: none;">
      <form enctype="multipart/form-data" id="string_upload_form" method="post">
            <div class="twelve columns">
                  <div class="eight columns">
                        <h2 class="lineglowslow" style="margin-top:30px">
                              STRING
                              <br />
                              <br />
                              VRNetzer
                        </h2>
                  </div>
                  <div class="four columns">
                        <div class="swagLogo">
                              <br />
                        </div>
                  </div>
            </div>
            <div>
                  Check out the new webGL preview!
            </div>
            <div>
                  <input onclick="followLink('/StringEx/preview')"
                        style="height: 50px; width: 250px;min-width: fit-content;" type="button"
                        value="webGL PREVIEW" />
            </div>
            <div class="twelve columns">
                  <h3>
                        <span>
                              UPLOAD NEW DATA
                        </span>
                  </h3>
                  <p>
                        This uploader is used to Upload VRNetz files exported by the VRNetzer Cytoscape app.
                  </p>
            </div>
            <div class="twelve columns">
                  <div class="six columns">
                        <div class="frameBox">
                              <div class="two columns">
                                    <input id="string_radio_new_namespace" name="string_namespace" type="radio"
                                          value="New" />
                              </div>
                              <h6>
                                    CREATE NEW PROJECT
                              </h6>
                              <br />
                              <input class="stringInputBox" id="string_new_namespace_name" placeholder="New Project"
                                    name="string_new_namespace_name" type="text" />
                              <p id="string_submit_warnings" style="display:inline">
                              </p>
                        </div>
                  </div>
                  <div class="six columns">
                        <div class="frameBox" id="string_framebox_exisiting">
                              <div class="two columns">
                                    <input checked="" id="string_radio_existing" name="string_namespace" type="radio"
                                          value="existing" />
                                    <br />
                              </div>
                              <h6>
                                    UPDATE PROJECT
                              </h6>
                              <br />
                              <div class="cornerBox">
                                    <select id="string_upload_namespaces" name="string_namespaces">
                                          {% for namespace in namespaces %}
                                          print(namespace);
                                          <option value="{{namespace}}">
                                                {{namespace}}
                                          </option>
                                          {% endfor %}
                                    </select>
                                    <br />
                              </div>
                        </div>
                  </div>
            </div>
            <div class="twelve columns">
                  <div class="frameBox">
                        <div class="twelve columns">
                              <h4 class="nine columns">
                                    VRNetz
                              </h4>
                              <input multiple="" name="vrnetz" type="file" value="placeholder">
                              </input>
                        </div>
                  </div>
            </div>
            <div class="twelve columns frameBox">
                  <div class="six columns">
                        <div class="frameBox twelve columns">
                              <div class="twelve columns">
                                    <input checked="" id="string_calc_lay" name="string_calc_lay" type="checkbox"
                                          value="string_calc_lay" class="two columns">
                                    </input>
                                    <h4 class="ten columns">
                                          LAYOUT
                                          <br>
                                          ALGORITHM
                                          </br>
                                    </h4>
                              </div>
                              <div class="ten columns" style="margin-left:5%">
                                    <div class="cornerBox twelve column" style="margin-bottom:1vh">
                                          <select id="string_algo" name="string_algo">
                                                {%include "string_algo_options.html"%}
                                          </select>
                                    </div>
                                    <input class="stringInputBox twelve columns" id="string_layout_name"
                                          placeholder="3d" name="string_layout_name" type="text" />
                              </div>
                        </div>
                        <!-- <div class="frameBox">
                              <div class="two columns">
                                    <input checked="" name="stringify" type="checkbox" value="stringify">
                                    </input>
                              </div>
                              <label for="stringify">
                                    <h6>
                                          STRING NETWORK
                                    </h6>
                              </label>
                              <div class="two columns">
                                    <input name="string_write" type="checkbox" unchecked="" value="write">
                                    </input>
                              </div>
                              <label for="write">
                                    <h6>
                                          SAVE NETWORK WITH COORDS
                                    </h6>
                              </label>
                        </div> -->
                  </div>
                  <style>
                        .paramaterBox {
                              display: none;
                              min-height: 70vh;
                              min-width: 100%;
                        }
                  </style>
                  <div class="six columns" style="min-height: 70vh;">
                        <div class="twelve columns">
                              <div class="frameBox paramaterBox" id="string_cg_tsne">
                                    <h6>
                                          prplxty
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_prplxty" min="1" type="number"
                                          value="50" />
                                    <h6>
                                          DENSITY
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_density" min="1" type="number"
                                          value="12" />
                                    <h6>
                                          l_rate
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_l_rate" min="1" type="number"
                                          value="200" />
                                    <h6>
                                          STEPS
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_steps" min="1" type="number"
                                          value="250" />
                              </div>
                        </div>
                        <div class="twelve columns">
                              <div class="frameBox paramaterBox" id="string_cg_umap">
                                    <h6>
                                          NUMBER OF NEIGHBORS
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_n_neighbors" min="1" type="number"
                                          value="10" />
                                    <h6>
                                          SPREAD
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_spread" step="0.1" type="number"
                                          value="1" />
                                    <h6>
                                          MINIMAL DISTANCE
                                    </h6>
                                    <input class="stringInputBox" id="string_cg_min_dist" max="1" min="0" step="0.1"
                                          type="number" value="0.5" />
                              </div>
                        </div>
                        <div class="twelve columns">
                              <div class="frameBox paramaterBox" id="string_spring">
                                    <h6>
                                          OPTIMAL DISTANCE BETWEEN NODES
                                    </h6>
                                    <input class="stringInputBox" id="string_spring_opt_dist" min="0" max="1"
                                          type="number" step="0.0001" value="0" />
                                    <p>If 0, the default value 1/sqrt(n) is used.</p>
                                    <h6>
                                          ITERATIONS
                                    </h6>
                                    <input class="stringInputBox" id="string_spring_iterations" type="number" value="50"
                                          min="1" />
                                    <h6>
                                          THRESHOLD
                                    </h6>
                                    <input class="stringInputBox" id="string_spring_threshold" min="0" step="0.0001"
                                          type="number" value="0.0001" />
                              </div>
                        </div>
                        <div class="twelve columns">
                              <div class="frameBox paramaterBox" id="string_kamada_kawai" style="display: none;">
                              </div>
                        </div>
                  </div>
            </div>
            <!--
      
      <label>A T T R I B U T E S (optional) </label><br>
      <input type=file name=attributes multiple><br><br>
      
      <label>L A B E L S (optional) </label><br>
      <input type=file name=labels multiple><br><br>
      -->
            <div class="frameBox twelve columns" style="height: 19vh;overflow: hidden;">
                  <div class="twelve columns">
                        <div class="two columns" style="margin-top: 3vh;">
                              <input class="swagSubmit twelve columns ui-button ui-corner-all ui-widget"
                                    id="string_upload_button" type="submit" value="Upload" role="button">

                        </div>
                        <div class="six columns">
                              <div class="twelve columns">
                                    <img id="string_upload_processing" src="/static/img/processing.gif"
                                          style="display: none;">
                                    <div id="string_upload_message" style="margin-top: 5vh;"></div>
                              </div>
                        </div>
                  </div>
            </div>
      </form>
</div>
<img id="tab_img" src="{{ url_for('StringEx.static', filename='img/string_logo_2015_340_340.png') }}"
      style="display: none;" />